*.db
*.db-journal

/build/
/tests/
/install/
/bin/
/lib/
*.o
*.a
*.so
*.exe
*.dll

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake
DartConfiguration.tcl

*_autogen/

.vscode/
.idea/
CLion

*~
*.swp
*.swo

.DS_Store
Thumbs.db
commit_message.txt
_codeql_*
